rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function loggedIn(){
      return request.auth != null && request.auth.token.email.split('@')[1] == 'mtu.edu';
    }

    match /users/{uid} {
      allow read: if loggedIn();
      allow update, create, delete: if
        loggedIn() && request.auth.uid == uid;
    }

    match /interests/{uid} {

      function capacityRemaining() {
        return (resource.data.interests != null) || (resource.data.interests != null && resource.data.interests.size() < 100);
      }

      allow read: if loggedIn();
      allow update: if loggedIn()
        && uid == request.auth.uid
        && capacityRemaining();
      allow create: if loggedIn()
        && uid == request.auth.uid;
    }

    match /accounts/{uid} {
      allow read: if loggedIn();
      allow write: if uid == request.auth.uid; // Do not require login since they are trying to login
    }
  }
}

