rules_version = '2';



service cloud.firestore {
  match /databases/{database}/documents {

    function loggedIn(){
      return request.auth != null && request.auth.token.email.split('@')[1] == 'mtu.edu';
    }

    match /users/{uid} {
      allow read: if loggedIn();
      allow update, create, delete: if
        loggedIn() && request.auth.uid == uid;
    }
  }
}
